@model SmartRentalApp.Models.RealEState

@{
    ViewBag.Title = "Real Estate Details";
}
<div>
    <center>
        <div id="googleMapArea" style="width: 850px; height: 300px; direction: rtl; border: 1px solid #808080">
        </div>
    </center>
</div>
<div>
    <table>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.Area)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.Area)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.MinPrice)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.MinPrice)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.MaxPrice)
            </td>

            <td class="formControlTd">
                @Html.DisplayFor(model => model.MaxPrice)
            </td>
        </tr>

        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.CreatedOn)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.RealEStatePurpos.PurposeName)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.RealEStatePurpos.PurposeName)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.RealEstatesDistrict.DistrictName)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.RealEstatesDistrict.DistrictName)
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                @Html.DisplayNameFor(model => model.RealEStateType.TypeName)
            </td>
            <td class="formControlTd">
                @Html.DisplayFor(model => model.RealEStateType.TypeName)
            </td>
        </tr>
        @if (Model.ResidentialRealEstate != null)
        {
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.RoomsNo)
                </td>
                <td class="formControlTd">
                    @Html.DisplayFor(model => model.ResidentialRealEstate.RoomsNo)
                </td>
            </tr>
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.BathsNo)
                </td>
                <td class="formControlTd">
                    @Html.DisplayFor(model => model.ResidentialRealEstate.BathsNo)
                </td>
            </tr>
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.WithGarden)
                </td>

                <td class="formControlTd">
                    @{string withGarden = Model.ResidentialRealEstate.WithGarden ? "Yes" : "No";}
                    @Html.DisplayFor(model => withGarden)
                </td>
            </tr>
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.WithRoof)
                </td>

                <td class="formControlTd">
                    @{string withRoof = Model.ResidentialRealEstate.WithRoof ? "Yes" : "No";}
                    @Html.DisplayFor(model => withRoof)
                </td>
            </tr>
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.LevelNo)
                </td>
                <td class="formControlTd">
                    @Html.DisplayFor(model => model.ResidentialRealEstate.LevelNo)
                </td>
            </tr>
            <tr>
                <td class="formLabelTd">
                    @Html.DisplayNameFor(model => model.ResidentialRealEstate.HouseNo)
                </td>
                <td class="formControlTd">
                    @Html.DisplayFor(model => model.ResidentialRealEstate.HouseNo)
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RealEStateID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<h3>Comments</h3>
@if (Model.RealEstateComments.Count > 0)
{
    <table style="text-align: center">
        <tbody>
            <tr>
                <th>Commenter</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Options</th>
            </tr>
            @foreach (var item in Model.RealEstateComments)
            {
                <tr @(item.IsSpam ? "class=warning-box" : "")>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.CommentContent
                    </td>
                    <td>
                        @item.CommentDate.ToShortDateString()
                    </td>
                    <td>
                        @if (!item.IsSpam)
                        {
                            <a href="/RealEState/ReportSpam/@item.CommentID" title="Report as Spam">Report Spam</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="information-box">
        There's no comment written for this Real Estate!
    </p>
}


<script type="text/javascript">
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var zoomLevel;
        var myLatlng;

        myLatlng = new google.maps.LatLng(@(Model.Latitude), @(Model.Longitude));
        zoomLevel = 12;

        var myOptions = {
            scrollwheel: false,
            zoom: zoomLevel,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("googleMapArea"), myOptions);

        marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            draggable: false
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
