@model IEnumerable<SmartRentalApp.Models.RealEState>

@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Advanced Search";
    ViewBag.ShowSlider = false;
}

@using (Html.BeginForm())
{
    <table id="contactForm">
        <tr>
            <td class="formLabelTd">
                Types
            </td>
            <td class="formControlTd">
                @Html.DropDownList("TypeID", null, "All Real Estate Types")
            </td>
            <td class="formLabelTd">
                Area
            </td>
            <td class="formControlTd">
                <input type="text" name="areaFrom" id="areaFrom" placeholder="from" style="width: 30%; float: left" @(ViewBag.AreaFrom != null ? "value=" + ViewBag.AreaFrom.ToString() : "") />
                <input type="text" name="areaTo" id="areaTo" placeholder="to" style="width: 30%; float: right" @(ViewBag.AreaTo != null ? "value=" + ViewBag.AreaTo.ToString() : "") />
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                Districts
            </td>
            <td class="formControlTd">
                @Html.DropDownList("DistrictID", null, "All Districts")
            </td>
            <td class="formLabelTd">
                Rooms#
            </td>
            <td class="formControlTd">
                <select id="roomsNo">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="formLabelTd">
                Baths#
            </td>
            <td class="formControlTd">
                <select id="bathsNo" class="form-control">
                    <option value="">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
            <td colspan="2" style="text-align: center">
                <input type="submit" value="Search" id="submitBig" />
            </td>
        </tr>
    </table>
}

@if (Model.Count() > 0)
{
    <div class="panes">
        <ul class="blocks-thumbs thumbs-rollover">
            @foreach (var estate in Model)
            {
                var imageURL = estate.RealEStateImages.Count > 0 ? string.Format("/RealEState/ShowImage/{0}", estate.RealEStateImages.FirstOrDefault().ImageID) : "~/img/dummies/282x150.gif";
                <li>
                    <a href="/Home/Details/@estate.RealEStateID" class="thumb" title="@estate.RealEStateType.TypeName">
                        <img width="282" height="150" src="@imageURL" alt="Post" />
                    </a>
                    <div class="excerpt">
                        <a href="/Home/Details/@estate.RealEStateID" class="header">@estate.RealEStateType.TypeName - for @estate.RealEStatePurpos.PurposeName</a>
                        @if (estate.Description.Length > 40)
                        {
                            <label style="font-size: 9pt;">@estate.Description.ToString().Substring(0, 39) ...</label>
                        }
                        else
                        {
                            <label style="font-size: 9pt;">
                                @estate.Description ...
                            </label>
                        }

                    </div>
                    <a href="/Home/Details/@estate.RealEStateID" class="link-button"><span>Read more &#8594;</span></a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p class="information-box">No result matches you search criteria!</p>
}